#top {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}

.title {
    margin-left: 8rem;
    margin-top: 7.5rem;
}

h1,h2 {
    color: rgb(236, 236, 236);
    padding-right: 2rem;
    text-shadow: 0.3rem 0.3rem 0.7rem rgb(0, 0, 0);
    white-space: nowrap;
}

h1 {
   font-size: 6rem;
   padding-bottom: 5rem;
}

h2 {
   font-size: 3rem;
}

button {
    border-radius: 1rem;
    background: linear-gradient(135deg, rgb(16, 132, 247), rgb(255, 67, 217));
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.514);
    color: rgb(236, 236, 236);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    height: 6rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    width: 12rem;
}

button:hover {
    background: linear-gradient(135deg, rgba(16, 132, 247, .3), rgba(255, 67, 217, 0.3));
    border: 0.4rem solid rgb(236, 236, 236);
}

.dummy-code {
    color: rgb(236,236,236);
    background-color: rgb(55, 55, 55);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.8);
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 6rem;
    margin-right: 8rem;
    padding: 2rem;
    text-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.8);
}

.code {
    white-space: nowrap;
}

.code-purple {
    color:rgb(230, 0, 255)
}

.code-yellow {
    color: rgb(255, 221, 86);
}

.code-blue {
    color: rgb(0, 128, 255);
}